@import './Constants.css';

/* ----------------- */
/*       Mobile      */
/* ----------------- */

/* Standard font style */
p,
li,
button {
    font: 4vw 'Raleway', sans-serif;
}

h1 {
  font: bold 6vw 'Lato', sans-serif;
  margin-block-start: 0em;
  margin-block-end: 0em;
}

h2 {
  font: bold 5vw 'Lato', sans-serif;
  padding-top:2vw;

}

p a {
  color: black;
  transition: all  var(--speed) ease;
}

p a:hover {
  color: white;
  background-color:var(--blue);
}


.App{
    display: grid;
    grid-template-columns: 1fr 1fr 24fr 1fr 1fr;
}


/* Scrollbar */
::-webkit-scrollbar{
    width: 1.5vh;
  }
  
  ::-webkit-scrollbar-track{
    background: rgb(242, 250, 255);
  }
  ::-webkit-scrollbar-thumb {
    background: var(--blue);
    border-radius: .5vh;
  }
  
/* ----------------- */
/*       Desktop     */
/* ----------------- */

@media only screen and (min-width: 800px) and (max-width:1000px) {
    p,
    li,
    button {
        font: 2vw 'Raleway', sans-serif;
    }
    h1 {
        font: bold 3vw 'Lato', sans-serif;
    }
    h2 {
        font: bold 2.5vw 'Lato', sans-serif;
        padding-top:1vw;
      
    }
    .App{
        grid-template-columns: 3fr 0fr 16fr 0fr 3fr;
    }
  }

  @media only screen and (min-width: 1000px) {
    p,
    li,
    button {
        font: 1.5vw 'Raleway', sans-serif;
    }
    h1 {
        font: bold 3vw 'Lato', sans-serif;
    }
    h2 {
        font: bold 2.5vw 'Lato', sans-serif;
        padding-top:1vw;
      
    }
    .App{
        grid-template-columns: 3fr 0fr 16fr 0fr 3fr;
    }
  }