:root {
    --blue:  #232370;
    --bg-accent: #484a4d;
    --text-color: #dadce1;
    --nav-size: 60px;
    --border: 1px solid #474a4d;
    --border-radius: 3vw;
    --speed: 500ms;
    --page-width: 60%;
    --title-font: bold 3vw 'Lato', sans-serif;
  }