:root {
    --blue:  #232370;
    --bg-accent: #f2f7ff;
    --text-color: #dadce1;
    --nav-size: 60px;
    --border: 1px solid #232370;
    --border-radius: 4vw;
    --speed: 300ms;
    --page-width: 60%;
    --title-font: bold 3vw 'Lato', sans-serif;
  }